bcrypt==4.2.0
black==24.8.0
Faker==20.1.0
flasgger==0.9.7.1
Flask==3.0.3
flask-babel==4.0.0
Flask-Cors==4.0.0
mypy==1.11.1
parameterized==0.9.0
pymongo==4.7.3
python-dotenv==1.0.1
pytz==2023.3.post1
redis==5.0.6
SQLAlchemy==2.0.23
jsonschema==4.19.2
mysqlclient==2.2.4
